.bag {
    // min-height: 100%;
    padding: 5em 0;
    grid-area: main;
    display: flex;

    h1 {
        margin-bottom: 2em;
    }
    > div {
        // width: 55em;
        padding: 0 1em;
        width: 100%;
        margin: 0 auto;
    }

    button {
        padding:  1em 0;
    }
    .subtotal, .skeleton, a {
        width: 100%;
        margin: 1em 0;
    }
}
.skeleton {
    height: 10em;
}

.bagCard {
    display: flex;
    height: 10em;
    width: 100%;
    margin: 1em 0;

    > div:nth-of-type(1) {
        position: relative;
        width: 10em;
    }
    
    img {
        object-fit: cover;
    }

    button {
        border-radius: 0;
        color: black;
        background-color: rgb(239, 239, 239);
        box-shadow: 0 0 0 rgb(0,0,0);
        transition: all .7s;
    }

    button:hover {
        box-shadow: 0 0 0 rgb(0,0,0);
        background-color: rgb(0, 0, 0);
        color: white;
    }
} 


@media (min-width: 55em) {
    .bag {
        button {
            font-weight: bolder;
        }
        >div {
            width: 55em;
        }
    }
}