.bag {
    // min-height: 100%;
    padding: 5em 0;
    grid-area: main;
    display: flex;

    h1 {
        margin-bottom: 2em;
    }
    > div {
        // width: 55em;
        padding: 0 1em;
        width: 100%;
        margin: 0 auto;
    }

    button {
        padding:  1em 0;
    }
    .subtotal, .skeleton, a {
        width: 100%;
        margin: 1em 0;
    }
}
.skeleton {
    height: 10em;
}



@media (min-width: 55em) {
    .bag {
        button {
            font-weight: bolder;
        }
        >div {
            width: 55em;
        }
    }
}