.wrapper {
    /* height: 100vh; */
    min-height: 100vh;
    /* overflow-x: hidden; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  
        'nav'
        'main'
        'footer';
    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
}