/* Navbar Styles */
.nav {
    z-index: 100;
    position: relative;
    width: 100%;
    grid-area: nav; 

    > div {
        min-height: 5em;
        box-shadow: 0 1px 10px 0px rgba(0,0,0,0.3);
        background: rgba(255, 255, 255, 1);
        backdrop-filter: blur(7px);

        button {
            font-family: inherit;
            color: black;
        }
    }

}
.list {
    position: absolute;
    box-shadow: 0 11px 10px -9px rgba(0,0,0,0.3);
    visibility: hidden;
    width: 30%;        
    height: 0;
    right: 0;
    padding: 0;
    z-index: 3;
    background-color: white;
    overflow-y: hidden;
    border-top: 1px solid rgb(216, 216, 216);
    transition: all 1s ease-in;
}
.navActive {
    visibility: visible;
    animation: grow .5s steps(40, end) forwards;

}

@keyframes grow {
    from {}
    to {
        height: 13em;
    }
}